{% spaceless %}
<!DOCTYPE html>
<htmlx>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% block title %}Title{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        {{ 'normalize-css/normalize.css'|vendor }}
        <link rel="stylesheet" href="/css/main.css">

        <script>var b=document.documentElement;b.setAttribute("data-useragent",navigator.userAgent);b.setAttribute("data-platform",navigator.platform);b.className+=!!("ontouchstart"in window)||!!("onmsgesturechange"in window)?" touch":""</script>
        {{ 'modernizr'|vendor }}
    </head>
    <body>

        {% block body %}{% endblock %}

        {{ 'jquery'|vendor }}
        {{ 'underscore'|vendor }}

        <script src="/socket.io/socket.io.js"></script>
        <script src="/js/plugins.js"></script>
        <script src="/js/main.js"></script>

		{% block js %}{% endblock %}

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>var _gaq=[["_setAccount","UA-XXXXX-X"],["_trackPageview"]];(function(e,t){var n=e.createElement(t),r=e.getElementsByTagName(t)[0];n.src=("https:"==location.protocol?"//ssl":"//www")+".google-analytics.com/ga.js";r.parentNode.insertBefore(n,r)})(document,"script")</script>

    </body>
</html>
{% endspaceless %}